*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: lightgray;
    min-height: 150px;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 10px solid black;
}

header .container{
    max-width: 800px;
    margin: 0 auto;
}

main h2{
    background-color: black;
    color: white;
    padding: 10px;
    width: 60px;
    margin: 10px;
}

ul{
    list-style: none;
}

#pacientes{
    display: flex;
    flex-wrap: wrap;
}

#pacientes article{
    border: 1px solid black;
    margin: 1.5%;
    padding: 30px;
    box-shadow: 5px 5px 5px 0px rgba(161,161,161,1);
    width: 30%;
    position: relative;
}

#pacientes article ul{
    margin-bottom: 20px;
}

#pacientes article .diagnostico{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: tomato;
    padding: 5px;
    width: 100%;
    text-align: center;
    border-top: darkred 2px solid;
}

